@import "tailwindcss";

.text-stroke {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

* {
  scroll-behavior: smooth;
}

.scrollbar-none {
  scrollbar-width: none;
}

@theme inline {
  --font-poppins: var(--font-poppins);
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash-effect {
  animation: flash 0.5s ease-out;
}
