@import "tailwindcss";

.text-stroke {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

* {
  scroll-behavior: smooth;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


@theme inline {
  --font-poppins: var(--font-poppins);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash-effect {
  animation: flash 0.4s ease-out forwards;
}
